#googleForm {
    width: 100%;
    height: 100%; /* تم تعديل هذا السطر ليكون 100% */
    border: none;
    overflow: hidden;
    display: block;
}

#formContainer {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden; /* إخفاء أي تمرير */
}

html, body {
    height: 100%;
    overflow: hidden; /* منع التمرير الرئيسي */
}
